

*{
  margin:0; 
  padding:0;
}


input{
  border-radius: 10px;
}
span{
  color: #EF476F;
}

.card-body{
  background: #464646;
  color: white;
}

.container{
  margin-top:10px;
  margin-bottom:10px;
}


.col{
  margin-top: 10px;
  margin-bottom:10px;
}
.arrowbtn{
  border: none;
  background: white;

}

.BestSellers{
  background:#EF476F; 
  color: white;
  border:none;
  font-size: 1.25em;

}
.BestSellersa{
  color: #EF476F;
  font-size: 1.37em;
}
.BestSellerst{
  border: solid #EF476F 2px;
}
.Mens{
  background:#FFD166;
  color: white;
  border:none;
  font-size: 1.25em;
  
}
.Mensa{
  color:#FFD166;
  font-size: 1.37em;
}
.Menst{
  border: solid #FFD166 2px;
}

.Womens{
  background: #06D6A0;
  color: white;
  border:none;
  font-size: 1.25em;
}
.Womensa{
  color: #06D6A0;
  font-size: 1.37em;
}
.Womenst{
  border: solid #06D6A0 2px;
}
.ForEveryone{
  background: #118AB2;
  color: white;
  border:none;
  font-size: 1.25em;
}
.ForEveryonea{
  color:#118AB2;
  font-size: 1.37em;
}
.ForEveryonet{
  border: solid #118AB2 2px;
}
.underline{
  height: 3px; 
  padding: 0px;
}
.outer{
  color: white; 
  background: #073B4C;
  margin:0; 
  padding:0; 
}

