*{
  margin:0; 
  padding:0;
}

span{
  color: #EF476F;
}
.teeshirt{
  background: gray;
  height: 300px;
}

.container{
  margin-top:10px;
  margin-bottom:10px;
}


.col{
  margin-top: 10px;
  margin-bottom:10px;
}

.underline{
  height: 3px; 
}
.BestSellers{
  background:#EF476F; 
  color: white;
  border:none;
}
.BestSellerst{
  border: solid #EF476F 2px;
}
.Mens{
  background:#FFD166;
  color: white;
  border:none;
}
.Menst{
  border: solid #FFD166 2px;
}
.Womens{
  background: #06D6A0;
  color: white;
  border:none;
}

.Womenst{
  border: solid #06D6A0 2px;
}
.ForEveryone{
  background: #118AB2;
  color: white;
  border:none;
}
.ForEveryonet{
  border: solid #118AB2 2px;
}

.outer{
  color: white; 
  background: #073B4C;
  margin:0; 
  padding:0; 
}